@import "./src/assets/scss/pols_variables";

.wrapper {
    margin-top: 440px;
    background-color: $pols-blue;
    display: grid;
    padding-right: 10%;
    padding-left: 10%;
}

.navBar {
    z-index: 10;
}

//.toyReview {
//    padding-top: 100px;
//    padding-left: 150px;
//    z-index: 10;
//}

.registreCodeBtn {
    //padding-top: 496px;
}

//.buttonText {
//    font-family: "Cukier-bold" !important;
//    font-size: 35px !important;
//    letter-spacing: 0.09px;
//    color: #199DDF;
//    opacity: 1;
//    background-color: linear-gradient(180deg, #1791D5 0%, #1BA7E7 100%);
//    font-style: normal;
//    font-weight: bold;
//    line-height: 42px;
//    letter-spacing: 0.02em;
//}

//.registerBtn {
//    width: 421px;
//    margin-right: 120px;
//    justify-self: right;
//    height: 80px;
//    z-index: 10;
//}

.registerBtn {
    position: relative;
    z-index: 100;
    width: auto !important;
    padding-left: 31px;
    padding-right: 31px;
    letter-spacing: 0.02em !important;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    margin: 0 auto;
}

.registerBtnMobile {
    width: 100% !important;
}

.h3 {
    //padding-top: 100px;
    //padding-left: 134px;
    //width: 392px;
    //display: flex;
    //align-items: center;
    //z-index: 10;
}

.h4 {
    padding-top: 43px;
    //padding-left: 134px;
    display: flex;
    align-items: center;
    //width: 459px;
    z-index: 10;
}

.splitHomeScreen {
    position: absolute;
    width: 100%;
    top: 60%;
    right: 0%;
    z-index: 1;
}

.splitHomeScreen2 {
    position: absolute;
    width: 100%;
    bottom: 40%;
    left: 0%;
    z-index: 1;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(../../assets/splitHomeScreen.svg);
    background-position: 0px -550px;
    background-size: cover;
    padding-top: 500px;
    padding-bottom: 700px;
    z-index: 5;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: -100px;
    position: relative;
}

.stepsBlock {
    background-image: url("../../assets/splitHomeScreen.svg");
    height: 880px;
    padding-top: 400px;
    background-position: 0px -490px;
    background-size: cover;
    padding-right: 10%;
    padding-left: 10%;
    position: relative;
    margin-top: -200px;
    //width: 100%;
    //overflow: hidden;
}

.step1 {
    display: flex;
    //padding-left: 10%;
    z-index: 5;
}

.step2 {

    display: flex;
    //padding-left: 10%;
    padding-top : 30px;
    z-index: 5;
}

.step3 {
    display: flex;
    //padding-left: 10%;
    padding-top : 30px;
    z-index: 5;
}

.stepNo {
    width: 50px;
    height: 52px;
    border-radius: 50%;
    position: relative;
    background: #1AA1E2;
    font-size: 35px;
    z-index: 5;
    padding-bottom: 9px;
}

.stepDesc {
    display: inline-block;
    position: relative;
    font-size: 35px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #1AA1E2;
    padding-left: 28px;
    z-index: 5;
}

.footerWhiteArea {
    //position: absolute;
    //bottom: -220%;
    //left: 0%;
    //margin: auto;
    //z-index: 1;
    //transform: scaleX(2.4);
    width: 100%;
}

.footerWhiteAreaWrapper {
    width: 100%;
    overflow: hidden;
}

.footer {
    background-color: $pols-white;
}

.products {
    position: relative;
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.productsHeader {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.productsTextBlue {
    color: $pols-dark-blue;
}

.productsTextBlue {
    padding-left: 20%;
    margin-top: -70px;
}

.productsTextBlue img {
    width: 16%;
}

.otherNewProductsWrapper {
    margin-top: 85px;
    padding-left: 0 !important;
}

.otherNewProductsImg {
    width: 100%;
    height: auto;
  margin-top: -80px;
}

.lotteryProd {
    justify-self: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 20;
}

.lotteryProdClassic {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}

.lotteryProdChocolate {
    margin: -90px auto 0;
    width: 80%;
}

.lotteryProdPlombirs {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}

.lotteryProdCrisps {
    margin-top: -180px;
    margin-left: 0;
    width: 100%;
}

.lotteryProdAvenu {
    margin: -160px auto 0;
    width: 88%;
}

.lotteryProdUpenu {
    margin: -130px auto 0;
    width: 84%;
}

.lotteryProdMango {
    margin: -120px auto 0;
    width: 88%;
}

.lotteryProdPopcorn {
    margin-top: -150px;
    margin-left: 0;
    width: 100%;
}

.newProductsMobile {
    background-image: url("../../assets/footer_white_area.svg");
    background-position: 0px -300px;
    background-size: cover;
    padding-top: 450px;
    margin-top: -430px;
    margin-bottom: -100px;
}

.productsIMGs {
    display: flex;
    justify-self: center;
    align-items: flex-start;
    position: relative;
}

.headerIceCream {
    position: absolute;
    top: -497px;
    right: 0;
    transform-origin: 0 0;
    width: 100%;
    float: left;
}

//@media (min-width:814px) {
//    .headerIceCream {
//        position: absolute;
//        top: -578px;
//        right: 0;
//        transform-origin: 0 0;
//        width: 59%;
//        float: left;
//    }
//}

@media (min-width: 192px) {

    .headerIceCream {
        top: 5px;
    }

    .wrapper {
        margin-top: 98px;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 103px;
        background-position: 0 -373px;
        margin-top: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .stepDesc {
        font-size: 16px;
        line-height: 18px;
    }

    .stepNo {
        display: block !important;
        min-width: 25px;
        height: 25px;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
    }

    .registerBtn {
        font-size: 16px;
        line-height: 40px;
    }
}

@media (min-width: 247px) {

    .headerIceCream {
        top: -31px;
    }

    .wrapper {
        margin-top: 150px;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 103px;
        background-position: 0 -373px;
        margin-top: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .stepDesc {
        font-size: 20px;
        line-height: 25px;
    }

    .stepNo {
        display: block !important;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
        height: 50px;
        font-size: 35px;
    }
}

@media (min-width: 292px) {

    .headerIceCream {
        top: -139px;
    }

    .wrapper {
        margin-top: 150px;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 103px;
        background-position: 0 -373px;
        margin-top: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .stepDesc {
        font-size: 20px;
        line-height: 25px;
    }

    .stepNo {
        display: block !important;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
    }

    .newProductsMobile {
        background-position: 0px -91px;
        padding-top: 180px;
        margin-top: -130px;
        margin-bottom: -150px;
    }

    .products {
        margin-top: -570px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .lotteryProdClassic {
        margin-top: 0;
    }

    .lotteryProdChocolate {
        margin: -30px auto 0;
    }

    .lotteryProdPlombirs {
        margin-top: 0;
    }

    .lotteryProdCrisps {
        margin-top: -50px;
    }

    .lotteryProdAvenu {
        margin: -40px auto 0;
    }

    .lotteryProdUpenu {
        margin: -30px auto 0;
    }

    .lotteryProdMango {
        margin: -30px auto 0;
    }

    .lotteryProdPopcorn {
        margin-top: -40px;
    }

    .otherNewProductsImg {
        margin-top: -20px;
    }

    .otherNewProductsWrapper {
        margin-top: 25px;
    }

    .registerBtn {
        font-size: 18px;
        line-height: 40px;
    }
}

@media (min-width: 392px) {

    .headerIceCream {
        top: -204px;
    }

    .wrapper {
        margin-top: 225px;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 103px;
        background-position: 0 -373px;
        margin-top: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .stepDesc {
        font-size: 25px;
        line-height: 30px;
    }

    .stepNo {
        display: block !important;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
    }

    .newProductsMobile {
        background-position: 0px -123px;
        padding-top: 220px;
        margin-top: -175px;
        margin-bottom: -200px;
    }

    .products {
        margin-top: -550px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .lotteryProdClassic {
        margin-top: 0;
    }

    .lotteryProdChocolate {
        margin: -50px auto 0;
    }

    .lotteryProdPlombirs {
        margin-top: -10px;
    }

    .lotteryProdCrisps {
        margin-top: -80px;
    }

    .lotteryProdAvenu {
        margin: -70px auto 0;
    }

    .lotteryProdUpenu {
        margin: -50px auto 0;
    }

    .lotteryProdMango {
        margin: -50px auto 0;
    }

    .lotteryProdPopcorn {
        margin-top: -70px;
    }

    .otherNewProductsImg {
        margin-top: -20px;
    }

    .otherNewProductsWrapper {
        margin-top: 55px;
    }

    .registerBtn {
        font-size: 24px;
        line-height: 40px;
    }
}

@media (min-width: 492px) {

    .headerIceCream {
        top: -269px;
    }

    .wrapper {
        margin-top: 280px;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 118px;
        background-position: 0 -373px;
        margin-top: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .stepDesc {
        font-size: 25px;
        line-height: 30px;
    }

    .stepNo {
        display: block !important;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
    }

    .newProductsMobile {
        background-position: 0px -154px;
        padding-top: 250px;
        margin-top: -220px;
        margin-bottom: -200px;
    }

    .products {
        margin-top: -550px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .lotteryProdClassic {
        margin-top: 0;
    }

    .lotteryProdChocolate {
        margin: -50px auto 0;
    }

    .lotteryProdPlombirs {
        margin-top: 0;
    }

    .lotteryProdCrisps {
        margin-top: -90px;
    }

    .lotteryProdAvenu {
        margin: -80px auto 0;
    }

    .lotteryProdUpenu {
        margin: -50px auto 0;
    }

    .lotteryProdMango {
        margin: -50px auto 0;
    }

    .lotteryProdPopcorn {
        margin-top: -80px;
    }

    .otherNewProductsImg {
        margin-top: -20px;
    }

    .otherNewProductsWrapper {
        margin-top: 55px;
    }

    .registerBtn {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (min-width: 592px) {

    .headerIceCream {
        top: -342px;
    }

    .wrapper {
        margin-top: 329px;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 118px;
        background-position: 0 -404px;
        margin-top: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .stepDesc {
        font-size: 25px;
        line-height: 30px;
    }

    .stepNo {
        display: block !important;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
    }

    .newProductsMobile {
        background-position: 0px -185px;
        padding-top: 300px;
        margin-top: -270px;
        margin-bottom: -200px;
    }

    .products {
        margin-top: -500px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .lotteryProdClassic {
        margin-top: 0;
    }

    .lotteryProdChocolate {
        margin: -70px auto 0;
    }

    .lotteryProdPlombirs {
        margin-top: 0;
    }

    .lotteryProdCrisps {
        margin-top: -100px;
    }

    .lotteryProdAvenu {
        margin: -100px auto 0;
    }

    .lotteryProdUpenu {
        margin: -70px auto 0;
    }

    .lotteryProdMango {
        margin: -70px auto 0;
    }

    .lotteryProdPopcorn {
        margin-top: -100px;
    }

    .otherNewProductsImg {
        margin-top: -20px;
    }

    .otherNewProductsWrapper {
        margin-top: 85px;
    }

    .registerBtn {
        font-size: 35px;
        line-height: 42px;
    }
}

@media (min-width: 625px) {
    .stepsBlock {
        padding-top: 150px;
    }
}

@media (min-width: 650px) {
    .stepsBlock {
        padding-top: 170px;
    }
}

@media (min-width: 692px) {

    .headerIceCream {
        top: -404px;
    }

    .wrapper {
        margin-top: 385px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 140px;
        background-position: 0 -471px;
        margin-top: 0;
        padding-left: 20%;
        padding-right: 20%;
    }

    .stepDesc {
        font-size: 25px;
        line-height: 30px;
    }

    .stepNo {
        display: block !important;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
    }

    .newProductsMobile {
        background-position: 0px -215px;
        padding-top: 360px;
        margin-top: -310px;
        margin-bottom: -200px;
    }

    .products {
        margin-top: -350px;
    }

    .lotteryProdClassic {
        margin-top: 0;
    }

    .lotteryProdChocolate {
        margin: -90px auto 0;
    }

    .lotteryProdPlombirs {
        margin-top: -20px;
    }

    .lotteryProdCrisps {
        margin-top: -140px;
    }

    .lotteryProdAvenu {
        margin: -120px auto 0;
    }

    .lotteryProdUpenu {
        margin: -90px auto 0;
    }

    .lotteryProdMango {
        margin: -90px auto 0;
    }

    .lotteryProdPopcorn {
        margin-top: -120px;
    }
}

@media (min-width: 725px) {
    .stepsBlock {
        padding-top: 190px;
    }
}

@media (min-width: 750px) {
    .stepsBlock {
        padding-top: 230px;
    }
}

@media (min-width: 792px) {

    .headerIceCream {
        top: -468px;
    }

    .wrapper {
        margin-top: 385px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 175px;
        background-position: 0 -514px;
        margin-top: 0;
        padding-left: 20%;
        padding-right: 20%;
    }

    .stepDesc {
        font-size: 30px;
        line-height: 35px;
    }

    .stepNo {
        display: block !important;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
    }

    .newProductsMobile {
        background-position: 0px -239px;
        padding-top: 400px;
        margin-top: -370px;
        margin-bottom: -200px;
    }

    .products {
        margin-top: -220px;
    }

    .lotteryProdClassic {
        margin-top: 0;
    }

    .lotteryProdChocolate {
        margin: -90px auto 0;
    }

    .lotteryProdPlombirs {
        margin-top: 0;
    }

    .lotteryProdCrisps {
        margin-top: -180px;
    }

    .lotteryProdAvenu {
        margin: -160px auto 0;
    }

    .lotteryProdUpenu {
        margin: -130px auto 0;
    }

    .lotteryProdMango {
        margin: -120px auto 0;
    }

    .lotteryProdPopcorn {
        margin-top: -150px;
    }
}

@media (min-width: 847px) {
    .stepsBlock {
        padding-top: 210px;
    }
}

@media (min-width: 887px) {
    .stepsBlock {
        padding-top: 280px;
    }
}

@media (min-width: 892px) {

    .headerIceCream {
        top: -534px;
    }

    .wrapper {
        margin-top: 420px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreenMobile.svg");
        height: 1200px;
        padding-top: 185px;
        background-position: 0px -608px;
        margin-top: 0;
        padding-left: 20%;
        padding-right: 20%;
    }

    .stepDesc {
        font-size: 35px;
        line-height: 40px;
    }

    .stepNo {
        display: block !important;
        min-width: 50px;
        text-align: center;
        line-height: 50px;
    }

    .newProductsMobile {
        background-image: url("../../assets/footer_white_area.svg");
        background-position: 0px -279px;
        background-size: cover;
        padding-top: 450px;
        margin-top: -400px;
        margin-bottom: -200px;
    }

    .products {
        margin-top: -120px;
    }
}

@media (min-width: 992px) {

    .headerIceCream {
        position: absolute;
        top: -297px;
        right: 0;
        transform-origin: 0 0;
        width: 59%;
        float: left;
    }

    .wrapper {
        margin-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .registreCodeBtn {
        padding-top: 496px;
    }

    .registerBtn {
        float: right;
    }

    .stepsBlock {
        background-image: url("../../assets/splitHomeScreen.svg");
        height: 600px;
        padding-top: 230px;
        background-position: 0px -280px;
        margin-top: -200px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .stepDesc {
        font-size: 24px;
        line-height: 28px;
    }

    .stepNo {
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
    }

    .lotteryProdSecondRow {
        margin-top: 50px;
    }

    .products {
        margin-top: -85px;
    }

    .footerWhiteAreaWrapper {
        margin-top: -140px;
        margin-bottom: -200px;
    }

    .products {
        position: absolute;
        margin-top: -80px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .lotteryProdClassic {
        width: 121%;
    }

    .lotteryProdChocolate {
        margin-top: 10px;
        width: 100%;
    }

    .lotteryProdPlombirs {
        width: 130%;
        margin-left: -70px;
        margin-top: -18px;
    }

    .lotteryProdCrisps {
        width: 130%;
        margin-top: -30px;
        margin-left: -89px;
    }

    .lotteryProdAvenu {
        width: 100%;
        margin-top: -80px;
        margin-left: 20px;
    }

    .lotteryProdUpenu {
        width: 100%;
        margin-top: -80px;
        margin-left: -31px;
    }

    .lotteryProdMango {
        width: 108%;
        margin-top: -88px;
        margin-left: -56px;
    }

    .lotteryProdPopcorn {
        width: 130%;
        margin-top: -110px;
        margin-left: -84px;
    }

    .otherNewProductsImg {
        width: 100%;
        height: auto;
        margin-top: -100px;
    }

    .productsTextBlue {
        padding-left: 50px;
        margin-top: 0;
    }

    .otherNewProductsWrapper {
        margin-top: 50px;
    }
}

@media (min-width: 1040px) {
    .stepsBlock {
        height: 700px;
        padding-top: 230px;
        background-position: 0px -300px;
        margin-top: -200px;
    }

    .stepDesc {
        font-size: 25px;
        line-height: 30px;
    }

    .lotteryProdSecondRow {
        margin-top: 50px;
    }

    .products {
        //margin-top: -210px;
        margin-top: -150px;
    }

    .footerWhiteAreaWrapper {
        margin-top: -210px;
        margin-bottom: -200px;
    }
}

@media (min-width: 1140px) {
    .headerIceCream {
        top: -365px;
    }

    .stepsBlock {
        height: 700px;
        padding-top: 290px;
        background-position: 0px -300px;
        margin-top: -200px;
    }

    .stepDesc {
        font-size: 27px;
        line-height: 35px;
    }

    .lotteryProdSecondRow {
        margin-top: 45px;
    }

    .products {
        //margin-top: -130px;
        margin-top: -70px;
    }

    .footerWhiteAreaWrapper {
        margin-top: -150px;
        margin-bottom: -200px;
    }
}

@media (min-width: 1240px) {
    .headerIceCream {
        top: -430px;
    }

    .stepsBlock {
        height: 700px;
        padding-top: 260px;
        background-position: 0px -340px;
        margin-top: -200px;
    }

    .stepDesc {
        font-size: 34px;
        line-height: 36px;
    }

    .lotteryProdSecondRow {
        margin-top: 35px;
    }

    .products {
        //margin-top: -130px;
        margin-top: -40px;
    }

    .footerWhiteAreaWrapper {
        margin-top: -140px;
        margin-bottom: -200px;
    }
}

@media (min-width: 1340px) {
    .headerIceCream {
        top: -461px;
    }

    .stepsBlock {
        height: 900px;
        padding-top: 320px;
        background-position: 0px -380px;
        margin-top: -200px;
    }

    .lotteryProdSecondRow {
        margin-top: 30px;
    }

    .products {
        padding-top: 108px;
        margin-top: -108px;
    }

    .products {
        margin-top: -300px;
    }

    .footerWhiteAreaWrapper {
        margin-top: -300px;
        margin-bottom: -200px;
    }
}

@media (min-width: 1440px) {
    .headerIceCream {
        top: -501px;
    }

    .stepsBlock {
        height: 900px;
        padding-top: 360px;
        background-position: 0px -412px;
        margin-top: -200px;
    }

    .lotteryProdSecondRow {
        margin-top: 20px;
    }

    .products {
        margin-top: -235px;
    }

    .footerWhiteAreaWrapper {
        margin-top: -250px;
        margin-bottom: -200px;
    }
}

@media (min-width: 1540px) {
    .headerIceCream {
        top: -529px;
    }

    .lotteryProdSecondRow {
        margin-top: 20px;
    }

    .products {
        padding-top: 190px;
    }

    .footerWhiteAreaWrapper {
        margin-top: -180px;
        margin-bottom: -200px;
    }
}

@media (min-width: 1640px) {
    .headerIceCream {
        top: -578px;
        width: 59%;
    }

    .stepsBlock {
        height: 880px;
        padding-top: 400px;
        background-position: 0px -470px;
        margin-top: -200px;
    }

    .products {
        padding-top: 265px;
    }

    .footerWhiteAreaWrapper {
        margin-top: -120px;
        margin-bottom: -200px;
    }
}

@media (min-width: 1950px) {
    .headerIceCream {
        top: -778px;
    }
}
