@import './pols_variables.scss';
@import './bootstrap.scss';

@font-face {
  font-family: 'CUKIER-Bold';
  src: url("../fonts/CUKIER-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'Gilray-Bold';
  src: url("../fonts/Gilroy-Bold.ttf") format('opentype');
}

body, html {
  text-align: left;
  font-family: "Cukier-bold", "Gilray-Bold", Arial !important;
  font-size: 28px !important;
  letter-spacing: 0.09px;
  color: $pols-white;
  opacity: 1;
  background: $pols-blue-background no-repeat;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
}

.container {
  margin-bottom: 50px;
  margin-top: 100px;
  min-height: calc(60vh - 10px);
}

.pols-select__control {
  border: $pols-white solid 6px;
  border-radius: 3px;
  background: transparent;
  padding: 19px 13px;
  height: 80px;
  font-weight: normal;
  color: $pols-white;
  width: 100%;
  &:focus {
    outline: none;
  }
  ::placeholder {
    padding: 19px 13px;
    display: flex;
    align-items: center;
  }
}

.pols-select__option {
  color: $pols-dark-blue !important;
}

*:focus {
  outline: none
}

.cursor-pointer {
  cursor: pointer;
}

.CookieConsent {
  background-color: rgba(22, 66, 144, 0.8) !important;
  font-size: 16px;
}

#rcc-confirm-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 13px;
  background-color: $pols-white-background !important;
  color: $pols-blue !important;
  border-radius: 3px !important;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  height: auto !important;
  margin-right: 20px!important;
}

.pols-cookie-link  {
  text-decoration: underline;
}

.CookieConsent > div {
  //margin-left: auto;
  margin-right: 50px;
}

.pols-cookie-button {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 692px) {
  margin-left: auto !important;
  margin-right: auto !important;
}

.text-underline {
  text-decoration: underline;
}

.pols-select__value-container {
  position: initial !important;
}