/* theme colors */
$pols-white: #FFFFFF;
$pols-blue: #199DDF;
$pols-dark-blue: #164290;


/* backgrounds */
$pols-white-background: $pols-white;
$pols-blue-background-gradient: linear-gradient(180deg, #1791D5 0%, #1BA7E7 100%);
$pols-blue-background: $pols-blue;


/* texts */
$pols-text-white-color: $pols-white;
$pols-text-blue-color: $pols-blue;


/* Buttons */
$pols-btn-primary-color: $pols-white;
