@import "./src/assets/scss/pols_variables.scss";

.smallToyImg {
    width:100%;
    height: auto;
}

.mediumToyImg {
    height: auto;
    width: 97%;
}

.bigToyImg {
    height: auto;
    width: 95%;
    margin-left: -5%;
}

.smallToy {
    background: url("../../assets/smallToy.svg") no-repeat;;
    background-size: 100%;
    width: 250px;
    height: 230px
}

.smallToyTopText {
    text-align: center;
    position: absolute;
    background-color: $pols-blue;
    padding-left: 2px;
    padding-right: 2px;
    top: -20px;
    //left: 21%;
    right: 24%;
    font-size: 18px;
}

.mediumToyTopText {
    text-align: center;
    background-color: $pols-blue;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: -20px;
    right: 43%;
    font-size: 18px;
}

.bigToyTopText {
    text-align: center;
    background-color: $pols-blue;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 4%;
    left: -4%;
    font-size: 18px;
}

.wrapper  {
    position: relative;
}

.extraSmallText {
    font-size: 14px !important;
    font-weight: 300 !important;
    font-style: italic !important;
    line-height: 0 !important;
    font-family: Arial;
}

.rightSmallBottomText, .rightBigBottomText {
    position: absolute;
    //left: 5%;
    padding: 10px;
    background: $pols-white-background;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 14px;
    color: #10316C;
    text-align: center;
    //bottom: 7%;
}

.smallToyRightSmallBottomText {
    bottom: 7%;
    right: 17px;
}

.mediumToyRightSmallBottomText {
    bottom: 6%;
    right: 26%;
}

.bigToyRightSmallBottomText {
    bottom: 7%;
    right: 13%;
}

.rightBigBottomText {
    //left: 81% !important;
    //bottom: 7% !important;
}


.smallToyWrapper img {
    width: 100%;
    //background-image: url("../../assets/small_toy.png");
    //height: 400px;
}

.mediumToyWrapper img {
    width: 100%;
    //background-image: url("../../assets/medium_toy.png");
}

@media (min-width: 292px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 28%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 14%;
    }

    .smallToyTopText {
        top: -25px;
        right: 23%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -28px;
        right: 43%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: -6%;
        left: -3%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 9px !important;
    }

    .amountText {
        font-size: 11px !important;
    }
}

@media (min-width: 392px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 23%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 42%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: -1%;
        left: -3%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 11px !important;
    }

    .amountText {
        font-size: 14px !important;
    }
}

@media (min-width: 492px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 26%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 44%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: 3%;
        left: -3%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 12px !important;
    }

    .amountText {
        font-size: 16px !important;
    }
}

@media (min-width: 592px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 27%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 45%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: 8%;
        left: -3%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 14px !important;
    }

    .amountText {
        font-size: 18px !important;
    }
}

@media (min-width: 792px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 27%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 45%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: 8%;
        left: -3%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 14px !important;
    }

    .amountText {
        font-size: 18px !important;
    }
}

@media (min-width: 792px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 27%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 45%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: 8%;
        left: -3%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 14px !important;
    }

    .amountText {
        font-size: 18px !important;
    }
}

@media (min-width: 892px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 30%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 48%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: 8%;
        left: -3%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 14px !important;
    }

    .amountText {
        font-size: 18px !important;
    }
}

@media (min-width: 992px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 28%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 15%;
    }

    .smallToyTopText {
        top: -24px;
        right: 22%;
        font-size: 14px !important;
    }

    .mediumToyTopText {
        top: -20px;
        right: 43%;
        font-size: 14px !important;
    }

    .bigToyTopText {
        top: -6%;
        left: -2%;
        font-size: 14px !important;
    }

    .extraSmallText {
        font-size: 9px !important;
    }

    .amountText {
        font-size: 10px !important;
    }
}

@media (min-width: 1040px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 28%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 14%;
    }

    .smallToyTopText {
        top: -24px;
        right: 22%;
        font-size: 14px !important;
    }

    .mediumToyTopText {
        top: -20px;
        right: 43%;
        font-size: 14px !important;
    }

    .bigToyTopText {
        top: -2%;
        left: -4%;
        font-size: 14px !important;
    }

    .extraSmallText {
        font-size: 9px !important;
    }

    .amountText {
        font-size: 11px !important;
    }
}

@media (min-width: 1140px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 28%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 14%;
    }

    .smallToyTopText {
        top: -20px;
        right: 24%;
        font-size: 14px !important;
    }

    .mediumToyTopText {
        top: -20px;
        right: 43%;
        font-size: 14px !important;
    }

    .bigToyTopText {
        top: -2%;
        left: -4%;
        font-size: 14px !important;
    }

    .extraSmallText {
        font-size: 10px !important;
    }

    .amountText {
        font-size: 12px !important;
    }
}

@media (min-width: 1240px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 28%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 14%;
    }

    .smallToyTopText {
        top: -20px;
        right: 24%;
        font-size: 14px !important;
    }

    .mediumToyTopText {
        top: -20px;
        right: 42%;
        font-size: 14px !important;
    }

    .bigToyTopText {
        top: 1%;
        left: -4%;
        font-size: 14px !important;
    }

    .extraSmallText {
        font-size: 10px !important;
    }

    .amountText {
        font-size: 13px !important;
    }
}

@media (min-width: 1340px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 27%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 14%;
    }

    .smallToyTopText {
        top: -20px;
        right: 24%;
        font-size: 15px !important;
    }

    .mediumToyTopText {
        top: -20px;
        right: 42%;
        font-size: 15px !important;
    }

    .bigToyTopText {
        top: 4%;
        left: -4%;
        font-size: 15px !important;
    }

    .extraSmallText {
        font-size: 11px !important;
    }
}

@media (min-width: 1440px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 27%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 24%;
        font-size: 16px !important;
    }

    .mediumToyTopText {
        top: -20px;
        right: 42%;
        font-size: 16px !important;
    }

    .bigToyTopText {
        top: 4%;
        left: -4%;
        font-size: 16px !important;
    }

    .extraSmallText {
        font-size: 12px !important;
    }

    .amountText {
        font-size: 16px !important;
    }
}

@media (min-width: 1540px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 24%;
        font-size: 16px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 42%;
        font-size: 16px;
    }

    .bigToyTopText {
        top: 4%;
        left: -4%;
        font-size: 16px;
    }

    .extraSmallText {
        font-size: 12px !important;
    }
}

@media (min-width: 1640px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 24%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 43%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: 4%;
        left: -4%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 14px !important;
    }

    .amountText {
        font-size: 18px !important;
    }
}

@media (min-width: 1840px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 27%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 45%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: 4%;
        left: -4%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 14px !important;
    }

    .amountText {
        font-size: 18px !important;
    }
}

@media (min-width: 1940px) {
    .smallToyRightSmallBottomText {
        bottom: 7%;
        right: 17px;
    }

    .mediumToyRightSmallBottomText {
        bottom: 6%;
        right: 26%;
    }

    .bigToyRightSmallBottomText {
        bottom: 7%;
        right: 13%;
    }

    .smallToyTopText {
        top: -20px;
        right: 27%;
        font-size: 18px;
    }

    .mediumToyTopText {
        top: -20px;
        right: 45%;
        font-size: 18px;
    }

    .bigToyTopText {
        top: 4%;
        left: -4%;
        font-size: 18px;
    }

    .extraSmallText {
        font-size: 14px !important;
    }

    .amountText {
        font-size: 18px !important;
    }
}
