.container {
  display: inline;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  block-size: auto;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left:0;
  top: 20%;
  height: 18.5px;
  width: 18.5px;
  background-color: #eee;
  border-radius: 50%;
  border: 1.5px solid #6D5BD0;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #6D5BD0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 25%;
  left: 25%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}