@import "./src/assets/scss/pols_variables";

.numberCircle {
  border-radius: 100px;
  background: $pols-white-background;
  color: $pols-blue;
  text-align: center;
  font-size: 35px;


  padding: 5px;

  width: 52px;
  height: 50px;
}

.wrapper {
  margin-top: 100px;
  background-color: $pols-blue;
  padding-right: 10%;
  padding-left: 10%;
  min-height: 100vh;
  word-break: break-word;
}