@import "../../assets/scss/tribe_variables";

.tribe-collapse-heading {
  width: 100%;
  background-color: $tribe-white;
  border-radius: 10px;
}

.tribe-collapse-heading.active {
  background-color: $tribe-yellow;
}

.tribe-collapsed  {
  background-color: $tribe-white;
  width: 100%;
  border-radius: 10px;
}