@import "./src/assets/scss/pols_variables";

.wrapper {
  margin-top: 100px;
  background-color: $pols-blue;
  padding-right: 10%;
  padding-left: 10%;
  min-height: 100vh;
  word-break: break-word;
}

.title {
  padding-bottom: 20px;
}

.languageChoose {
  display: flex;
  position: absolute;
  top: 5%;
  right: 5%;
  & div {
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.loginFormContainer {
  margin: 0 auto;
  margin-top: 50px;
  &:first-child {
    margin-bottom: 25px;
  }
}

.loginForm {
  margin: 0 auto;
}

.errorMessage {
  text-align: center;
}

