@import "./src/assets/scss/pols_variables";

.wrapper {
    background-image: url("../../assets/header_bg.svg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: 10% top;
    z-index: 10;
    margin-top: 0;
    position: relative;
    height: 130px;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
}

.navBarLogo {
    margin-top: -6px;
    margin-left: -18px;
    margin-right: 0.5rem !important;
}

.navBarItem {
    //padding-left: 56px;
    //flex: 1 1 0%;
    display: inline-block;
    vertical-align: middle;
}

.navBarText {
    font-size: 25px;
    line-height: 30px;
    color: $pols-dark-blue;
}

.langChange {
    cursor: pointer;
    //position: absolute;
    color: black;
    //top: 0%;
    //right: 5%;
    //z-index: 40;
}

.icon {
  width: 35.77px;
  height: 35.33px;
  margin-top: 50px;
  cursor: pointer;
}

.langDropdownBtn {
  padding-top: 5px;
  width: 90px;
  height: 40px;
  text-align: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $pols-dark-blue;
  cursor: pointer;
  border: 1px solid $pols-dark-blue;
  border-radius: 20px;
}

.langDropdownMenu {
  padding: 0 !important;
  width: 90px !important;
  min-width: auto !important;
  border: 1px solid $pols-dark-blue !important;
  border-radius: 20px !important;
}

.langDropdownItem {
  height: 40px !important;
  color: $pols-dark-blue !important;
  padding: 0 !important;
  text-align: center !important;
}

.langDropdownItem:hover, .langDropdownItem:focus {
  color: $pols-dark-blue !important;
}

.langDropdownItem:active {
  color: #ffffff !important;
  background-color: $pols-dark-blue !important;
}

.langDropdownItemFirst {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.langDropdownItemLast {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.navBarMenu {
  text-align: center;
  padding-top: 44px;
}

.langDropdown {
  margin-top: 48px;
}

.navBarToggleIcon {
  min-width: 42px;
  width: 42px;
  height: 26px;
  cursor: pointer;
  margin-top: 40px;
}

.navBarToggleIconOpenWrapper {
  height: 70px;
  margin-top: 19px;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  //padding: 29px 31px 29px 31px;
  border: 2px solid #0840A3;
  border-bottom: 2px solid $pols-white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navBarToggleIconOpen {
  margin-top: 20px;
  //border: 2px solid #0840A3;
  //border-bottom: 2px solid $pols-white;
}

.navBarItemMarginNoMargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.navBarItemMargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.navBarItemMarginMobile {
  margin-left: 1rem !important;
  margin-right: 0 !important;
}

.navBar {
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
}

.langDropdownWrapper {
  margin-top: -15px;
  margin-right: 1rem !important;
}

.mobileNav {
  border-top: 2px solid #0840A3;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $pols-white;
  margin-top: -46px;
  z-index: 10;
  position: relative;

  .icon {
    margin-top: 0 !important;
  }
}

.mobileNavNoBorderBlock {
  width: 72px;
  height: 10px;
  position: absolute;
  right: calc(10% + 2px);
  top: -2px;
  background-color: $pols-white;
}

.mobileNavContent {
  display: flex !important;
}

.iconInst {
  margin-left: 1.5rem !important;
}

.iconFb {
  margin-left: 0.5rem !important;
}

.langDropdownWrapperMobile {
  position: absolute;
  top: 0;
  z-index: 100;
}

@media (min-width: 292px) {
  .navBarLogo svg {
    width: 100px;
  }

  .langDropdownWrapperMobile {
    position: absolute;
    z-index: 100;
    top: -131px;
    right: 32%;
  }
}

@media (min-width: 320px) {
  .navBarLogo svg {
    width: 130px;
  }

  .langDropdownWrapperMobile {
    position: absolute;
    z-index: 100;
    top: -131px;
    right: 30%;
  }
}

@media (min-width: 396px) {

  .navBarLogo svg {
    width: 180px;
  }

  .langDropdownWrapperMobile {
    position: absolute;
    z-index: 100;
    top: -131px;
    right: 24%;
  }

  .navBarToggleIconOpenWrapper {
    height: 70px;
    margin-top: 40px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobileNav {
    margin-top: -25px;
  }
}

@media (min-width: 486px) {

  .navBarLogo svg {
    width: 190px;
  }

  .langDropdownWrapperMobile {
    position: absolute;
    z-index: 100;
    top: -131px;
    right: 22%;
  }
}

@media (min-width: 538px) {

  .langDropdownBtn {
    margin-top: 0;
  }

  .navBarLogo {
    margin-right: 1rem;
  }

  .langDropdownWrapperMobile {
    position: absolute;
    z-index: 100;
    top: -130px;
    right: 25%;
  }

  .navBarToggleIconOpenWrapper {
    height: 100px;
    margin-top: 10px;
    padding-top: 0;
    padding-left: 31px;
    padding-right: 31px;
  }

  .navBarToggleIconOpen {
    margin-top: 31px;
  }

  .mobileNavNoBorderBlock {
    width: 104px;
    height: 10px;
    right: calc(10% + 2px);
    top: -2px;
  }
}

@media (max-width: 730px) {
  .navBarItem {
    display: block !important;
  }
  .mobileNavContent {
    display: block !important;
  }
  .mobileNavIconsBlock {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navBarItemMarginMobile {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .icon {
    margin-left: 0 !important;
  }
  .iconFb {
    margin-left: 1rem !important;
  }
}

@media (min-width: 992px) {
  .langDropdownWrapper {
    margin-right: 3rem !important;
  }

  .langDropdownWrapperMobile {
    position: absolute;
    z-index: 100;
    top: -130px;
    right: 13%;
  }
}

@media (min-width: 1200px) {
  .navBarItemMargin {
    margin-left: 0.6rem !important;
  }
  .navBarText {
    font-size: 23px;
  }
  .wrapper {
    //height: 100px;
    //background-position: -10% top;
    background-position: left top;
    height: 185px;
    background-size: contain;
  }
}

@media (min-width: 1270px) {
  .navBarItemMargin {
    margin-left: 1rem !important;
  }
}


@media (min-width: 1395px) {
  .navBarItemMargin {
    margin-left: 1.5rem !important;
  }
}

@media (min-width: 1530px) {
  .navBar {
    margin-left: 2rem !important;
  }
}

@media (min-width: 1680px) {
  .navBar {
    margin-left: 3rem !important;
  }
}

@media (min-width: 1950px) {
  .wrapper {
    background-size: 100%;
    height: 200px;
  }
}

@media (min-width: 2140px) {
  .wrapper {
    padding-top: 20px;
    height: 210px;
  }
}

@media (min-width: 2340px) {
  .wrapper {
    padding-top: 30px;
    height: 225px;
  }
}

@media (min-width: 2440px) {
  .wrapper {
    padding-top: 40px;
    height: 235px;
  }
}

@media (max-width: 384px) {
  .navBarLogo {
    margin-right: -10px !important;
  }
  .langDropdownWrapper {
    margin-right: 0px!important;
  }
}

@media (max-width: 474px) {
  .mobileNavNoBorderBlock {
    display: none;
  }
}
