@import "./src/assets/scss/pols_variables";

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding: 9px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  width: 34px;
  border: 3px solid $pols-blue;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #FFFFFF;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: url("checkMark.svg") no-repeat center $pols-white;
}

.text {
  margin-left: 40px;
  margin-top: -10px;
}