@import "../../assets/scss/pols_variables";

.infir-password-reset {
  min-height: 100vh;
}

.infir-password-reset-login-link {
  margin-top: 48px;
}

.infir-password-reset-logo {
  width: 287px;
  text-align: center;
}

.infir-password-reset-logo-fail {
  width: 258px;
  text-align: center;
}

.infir-password-reset-success {
  width: 258px;
  text-align: center;
}

.infir-password-reset-btn-connect-icon {
  position: relative;
  left: 40px;
}

.infir-password-reset-connect-wrapper {
  position: relative;
}

.infir.password_reset.btn.login {
  position: absolute;
  bottom: 20px;
}

.wrapper {
  margin-top: 100px;
  background-color: $pols-blue;
  padding-right: 10%;
  padding-left: 10%;
  min-height: 100vh;
}