.input {
    border: none;
    background: transparent;
    padding-left: 10px;
    height: 24px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #19191D;
    &:focus {
       outline: none;
   }
    ::placeholder {
        padding-left: 16px;
        display: flex;
        align-items: center;
        color: #787885;
    }
}


.container {
    position: relative;
    display: block;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 224px;
    height: 64px;
    background: #ffffff;
    border: 2px solid #B4B4BB;
    box-sizing: border-box;
    border-radius: 10px;
}

.label {
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 16px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #787885;
    &.successful {
        color: #37833B;
    }
}

.clearButton.successful {
}

.clearButton {
    position: absolute;
    top: 25%;
    right: 1%;
    width: 32px;
    height: 32px;
    &:focus {
        outline: none;
    }
}

.container.successful {
    border: 1px solid #43A047;
    box-sizing: border-box;
    border-radius: 10px;
}

.container:focus-within {
    background: #FFFFFF;
    border: 2px solid #2979FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(41, 121, 255, 0.48), 0px 0px 16px rgba(41, 121, 255, 0.24);
    border-radius: 10px;
    & .label {
        color: #2264D1;
    }
}

.hide { 
    & .clearButton{
        display: none;
        &.successful{
            display: flex;
        }
    }
 }
