.stick {
    margin-top: -190px;
    width: 100% !important;
}

@media (min-width: 192px) {
    .stick {
        margin-top: -607px;
        width: 50% !important;
    }
}

@media (min-width: 247px) {
    .stick {
        margin-top: -607px;
        width: 50% !important;
    }
}

@media (min-width: 292px) {
    .stick {
        margin-top: -607px;
        width: 50% !important;
    }
}

@media (min-width: 392px) {
    .stick {
        margin-top: -607px;
        width: 50% !important;
    }
}

@media (min-width: 492px) {
    .stick {
        margin-top: -607px;
        width: 50% !important;
    }
}

@media (min-width: 525px) {
    .stick {
        margin-top: -626px;
        width: 60% !important;
    }
}

@media (min-width: 592px) {
    .stick {
        margin-top: -575px;
        width: 60% !important;
    }
}

@media (min-width: 625px) {
    .stick {
        margin-top: -545px;
        width: 70% !important
    }
}

@media (min-width: 650px) {
    .stick {
        margin-top: -491px;
        width: 70% !important;
    }
}

@media (min-width: 692px) {
    .stick {
        width: 100% !important;
        margin-top: -461px;
    }
}

@media (min-width: 792px) {
    .stick {
        margin-top: -290px;
    }
}

@media (min-width: 992px) {
    .stick {
        margin-top: -100px;
    }
}

@media (min-width: 1040px) {
    .stick {
        margin-top: -100px;
    }
}

@media (min-width: 1140px) {
    .stick {
        margin-top: -120px;
    }
}

@media (min-width: 1240px) {
    .stick {
        margin-top: -80px;
    }
}

@media (min-width: 1340px) {
    .stick {
        margin-top: -130px;
    }
}

@media (min-width: 1440px) {
    .stick {
        margin-top: -168px;
    }
}

@media (min-width: 1940px) {
    .stick {
        margin-top: -211px;
    }
}

@media (min-width: 2240px) {
    .stick {
        margin-top: -296px;
    }
}
